<ion-list>
  <ion-item *ngForm = "let dato of datos" >
   
      <ion-img></ion-img>
    <ion-text>{{dato.tiulo}}</ion-text>

    <ion-label>{{dato.descripcion}}</ion-label>
    <ion-text>{{ fecha | date:'fullDate' | uppercase }}</ion-text>

    <ion-buttons class="separacion">
      <ion-button>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>
</ion-list>
<div>
<ion-content>
  <ion-fab vertical="bottom" slot="fixed">
    <ion-fab-button [routerLink]="['/publicar']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
</div>
