<ion-list>
  <ion-item >
    <div>
      <ion-img></ion-img>
    </div>

    <div class="separacion2">
     
      <p class="descripcion">descripcion</p>
    </div>
    <div class="separacion2">
     
      <p class="fecha">fecha</p>
    </div>

    <ion-buttons class="separacion">
      <ion-button>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-item>
</ion-list>
<div>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/publicar']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
</div>
